body {
    background-color: rgb(238, 206, 206);
}

object {
    height: 100vh;
    width: 100vh;
}

.selector-for-some-widget {
    box-sizing: content-box;
}

#img-logo {
    height: 50px;
    width: 50;
}